<header class="header">
  <li routerLinkActive="active"><a class="about"  routerLink="/about">About</a></li>

  <div class="logo">M.B.</div>

  <div class="dropdown">
    <li routerLinkActive="active"><a href="#projects" class="about" routerLink="/project" (click)="onProjects()">Projects</a></li>
    <div class="dropdown-content">
      <li routerLinkActive="active"><a (click)="onWebsites()">Websites</a></li>
      <li routerLinkActive="active"><a (click)="onApps()">Apps</a></li>
      <li routerLinkActive="active"><a (click)="onActual()">Actual Project</a></li>
    </div>
  </div>

</header>
