
<div class="container-wrap">
  <div class="container">
    <div class="container__imageBx tooltip">
      <div class="container__imageBx-square ">
        <span class="tooltiptext">I want to make my hobby to my profession. <br>Hire me!</span>
      </div>
      <img src="./assets/img/Bewerbungsfoto.jpg" alt="Bewerbungsfoto" class="container__imageBx-img">
    </div>

    <div class="container__text-field">
      <div class="container__text">
        <div>
          <p>Hello</p>
          <h1 class="name">I'm <span style="color: rgba(0, 232, 172, 0.98);">Manuela Brunner</span>.</h1>
          <p class="container__text-first">I am learning front-end-development. </p>
          <p class="container__text-first"> - And I love it! - </p>

          <p class="container__text-first">My motivation is the desire to be able to work on a product,
            which is a clear improvement of customers' lives.</p>

          <div class="skills">
            <div class="icon"><i class="fab fa-js"></i></div>
            <div class="icon angular"><i class="fab fa-angular"></i></div>
            <div class="icon"><i class="fab fa-html5"></i></div>
            <div class="icon"><i class="fab fa-css3-alt"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-wrap">
  <div class="container-expect">
    <div class="container-expect__text">
      <h2 class="name">What you can <span style="color: rgba(0, 232, 172, 0.98);">expect</span> from me</h2>
      <p class="container-expect__text-expect">I'm a real Teamplayer. <br>
        Having me in the team means working with an <span style="color: rgba(0, 232, 172, 0.98);">open, happy and responsible</span> teammate
        who is sometimes available for a little joke. <br> And if the team is really cool, I will bring <span style="color: rgba(0, 232, 172, 0.98);">chocolate cake</span> ;)</p>
      <p class="container-expect__text-expect">
        I will <span style="color: rgba(0, 232, 172, 0.98);">constantly improve</span> my programming skills to be a fully operational employee as soon as possible.</p>
    </div>
    <div class="container-expect__icons">
      <div class="container-expect__icons-first">
        <div>
          <i class="fas fa-heart"></i>
          <p>open</p>
        </div>
      </div>
      <div class="container-expect__icons-second">
        <div>
          <i class="far fa-smile"></i>
          <p>happy</p>
        </div>
        <div class="container-expect__icons-second-div">
          <i class="fas fa-graduation-cap"></i>
          <p>constantly learning</p>
        </div>
      </div>
      <div class="container-expect__icons-third">
        <div>
          <i class="fas fa-birthday-cake"></i>
          <p>brings cake</p>
        </div>
        <div class="container-expect__icons-third-div">
          <i class="fas fa-glasses"></i>
          <p>responsible</p>
        </div>
      </div>
      <div class="container-expect__icons-fourth">
        <div class="container-expect__icons-fourth-div">
          <i class="fas fa-paint-brush"></i>
          <p>creative</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-wrap">
  <div class="container-expect">
    <div class="container-expect__icons">
      <img class="outofbox" src="./assets/img/thinkoutofbox.jpg" alt="Image">
    </div>
    <div class="container-expect__text">
      <h2 class="name">My next <span style="color: rgba(0, 232, 172, 0.98);">goals</span> for the Weekends</h2>
      <p class="container-expect__text-expect">
        until the end of November: <br>
        Shopping List:
        Make the App more save and revise the whole code.<br></p>
      <p class="container-expect__text-expect">
        In December:<br>
        Repeat everything I have learned in Javascript and Angular.<br></p>
      <p class="container-expect__text-expect">
        Road map: closing knowledge gaps with the support of this fantastic road map I have found in a blog post.<br><br>
        <a href='./assets/img/frontend.pdf'>Road map</a></p>
      <p class="container-expect__text-expect">
        After that:<br>
        Find new project. I was thinking about optimize my portfolio or create an app for shopify. (Or both ;)<br></p>
    </div>

  </div>
</div>
