
<div class="container-wrap">
  <div class="container">
    <div class="container__imageBx tooltip">
      <div class="container__imageBx-square ">
        <span class="tooltiptext">I want to make my hobby to my profession. <br>Hire me!</span>
      </div>
      <img src="./assets/img/Bewerbungsfoto.jpg" alt="Bewerbungsfoto" class="container__imageBx-img">
    </div>

    <div class="container__text-field">
      <div class="container__text">
        <div>
          <p>Hello</p>
          <h1 class="name">I'm <span style="color: rgba(0, 232, 172, 0.98);">Manuela Brunner</span>.</h1>
          <p class="text">I am learning front-end-development. </p>
          <p> - And I love it! - </p>

          <div class="skills">
            <div class="icon"><i class="fab fa-js"></i></div>
            <div class="icon angular"><i class="fab fa-angular"></i></div>
            <div class="icon"><i class="fab fa-html5"></i></div>
            <div class="icon"><i class="fab fa-css3-alt"></i></div>
          </div>

          <p class="text">My motivation is the desire to be able to work on a product,
            which is a clear improvement of customers' lives.</p>
        </div>
      </div>



    </div>
  </div>
</div>
