.container-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  position: relative;
  width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;

  &__imageBx {
    height: 600px;
    width: 400px;
  }

  &__imageBx-square {
    margin-top: 60px;
    margin-left: 80px;
    height:410px;
    width: 300px;
    background-color: rgba(0, 232, 172, 0.98);

  }

  &__imageBx-img {
      height: 400px;
      position: relative;
      right: -50px;
      top: -445px;
      box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) ;
    }

  &__text-field {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  &__text {
    width: 450px;
    margin-left: 30px;
  }

  &__text h1 {
    font-weight: 900;
    font-size: 40px;
  }
  &__text h2 {
    font-weight: 900;
    font-size: 30px;
  }

  &__text-first {
    font-weight:100;
    font-size: 25px;
  }


}

.container-expect {
  position: relative;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;

  &__text {
    width: 450px;
  }

  &__text h1 {
    font-weight: 900;
    font-size: 40px;
  }

  &__text h2 {
    font-weight: 900;
    font-size: 30px;
  }

  &__text-expect {
    font-weight:100;
    font-size: 23px;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    margin-top: 40px;
  }

  &__icons i {
    font-size: 40px;
  }

  &__icons-first {
    width:300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__icons-second {
    width:300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__icons-second-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__icons-third {
    width:300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__icons-third-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__icons-fourth {
    width:300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__icons-fourth-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills {
  height: 250px;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: rgba(0, 232, 172, 0.98);
  text-align: center;
  transition: all 1s ease-in;

}

.icon:hover {
  transform: rotate(360deg);
}

.icon i {
  font-size: 50px;
  color: black;
  margin-top: 14%;

}


.tooltip {
  position: relative;
  display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  font-size: 20px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -100px;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 992px) {
  .container {
    justify-content: space-evenly;

    &__text-field {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
    &__text {
      width: 300px;
      margin: 0px;
    }
  }

  .container-expect {
    justify-content: space-evenly;
    &__text {
      width: 300px;
    }
    &__icons {
      width: 400px;
    }
  }

  .skills {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .icon i {
    font-size: 37px;
    margin-top: 14%;
  }
}

@media (max-width: 800px) {
  .container {
    justify-content: space-around;
    align-items: center;
    width: 700px;

    &__text-field {
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
    &__text {
      width: 300px;
      margin: 0px;
    }

    &__imageBx {
      height: 400px;
      width: 250px;
    }

    &__imageBx-square {
      margin-top: 60px;
      margin-left: 80px;
      height:250px;
      width: 140px;
      background-color: rgba(0, 232, 172, 0.98);

    }

    &__imageBx-img {
      height: 280px;
      position: relative;
      right: 10px;
      top: -305px;
      box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) ;
    }
  }



  .skills {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .icon i {
    font-size: 37px;
    margin-top: 14%;
  }

  .container-expect {
    justify-content: space-around;
    align-items: center;
    width: 700px;

    &__text {
      width: 300px;
    }
    &__icons {
      width: 250px;
    }

    &__icons-first,
    &__icons-second,
    &__icons-third,
    &__icons-fourth,{
      width: 250px;
      height: 75px;
    }

    &__icons i {
      font-size: 35px;
    }
  }
}

@media (max-width: 600px) {
  .container-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin: 0px;

    &__imageBx {
      height: 300px;
      width: 250px;
    }

    &__imageBx-square {
      margin-top: 60px;
      margin-left: 80px;
      height:210px;
      width: 130px;
      background-color: rgba(0, 232, 172, 0.98);

    }

    &__imageBx-img {
      height: 200px;
      position: relative;
      right: -50px;
      top: -235px;
      box-shadow: 5px 5px 5px  rgba(0,0,0,0.1) ;
    }

    &__text-field {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;


    }
    &__text {
      width: 250px;
      margin: 0px;
    }
  }
  .container-expect {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 550px;

    &__text {
      width: 250px;
    }
    &__icons {
      width: 250px;
    }

    &__icons-first,
    &__icons-second,
    &__icons-third,
    &__icons-fourth,{
      width: 250px;
    }

    &__icons i {
      font-size: 30px;
    }
  }

  .skills {
    height: 80px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

  .icon i {
    font-size: 30px;
    margin-top: 14%;
  }

  .tooltip .tooltiptext {
    width: 150px;
    font-size: 15px;
    top: -65px;
    left: 20px;

  }
}
